# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.ipa
*.apk

# Metro
.metro-health-check*

# Environment
.env
.env.local
.env.*.local

# macOS
.DS_Store
*.pem

# Debug
yarn-debug.log*
.vscode/
.idea/

# Android/IOS
android/
ios/

# Temporary files
*.swp
*.swo
*~
.tmp/

# Offline materials (expo-file-system)
materials/
